*{
    margin: 0;
    padding: 0;
}

.footer{
    background-color: rgb(31, 35, 35);
    height: 20rem;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

}

.firstColumn p{
    line-height: 2rem;
}
.links{
    list-style: none;
}

.title{
    margin-bottom: 30px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.bottomline{
    background-color: rgb(58, 59, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    color: white;
}